html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.block-head {
    width: 100%;
    height: 739px;
    background-color: rgba(235, 183, 98, 0.1);
}

.navbar {
    width: 90%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style: none;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'koho';
    font-size: 18px;
    color: #263238;
}

.navbar-menu li a:hover {
    color: rgba(235, 183, 98, 1);
}

.navbar-menu li a:active {
    color: #EBB762;
    transition: all .07s ease-in-out;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}

.callback {
    text-decoration: none;
    font-family: 'koho';
    font-size: 18px;
    color: #263238;
    background-color: rgba(235, 183, 98, 0.6);
    border-radius: 7px 16px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.callback:hover {
    background-color: rgba(235, 183, 98, 1);
    box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.5);
}

.block-logo {
    display: flex;
    align-items: flex-start;
}

.img-logo {
    width: 24px;
    height: 24px;
    margin-right: 3px;
}

.text-logo {
    font-family: 'koho';
    font-size: 24px;
}

.container {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    width: 480px;
}

.header-name {
    margin-bottom: 40px;
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 500;
    font-size: 66px;
    line-height: 133%;
    letter-spacing: 0.03em;
    color: #263238;
}

.header-link {
    text-decoration: none;
    color: #EBB762;
}

.header-name-text {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: -0.01em;
    color: #425358;
}

.main {
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.main-container {
    width: 90%;
    padding-top: 156px;
    padding-bottom: 188px;
    display: flex;
    
}
 
.main-head-left {
    flex: 1;
    height: 400px;
    display: flex;
    align-items: center;
    padding-right: 5%;
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: -0.01em;
    color: #425358;
    border-right: 1px solid #EBB762;
    border-top: 1px solid #EBB762;
    border-bottom: 1px solid #EBB762;
}

.main-head-center {
    flex: 2;
    height: 400px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 183%;  
    letter-spacing: 0.03em;
    color: #263238;
    border-top: 1px solid #EBB762;
    border-bottom: 1px solid #EBB762;
}

.main-head-right {
    height: 400px;
    display: flex;
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.03em;
    color: #263238;
    border-top: 1px solid #EBB762;
    border-bottom: 1px solid #EBB762;
    
}

.main-head-link {
    display: flex;
    margin-top: auto;
}

.main-head-link a {
    color: #263238;
}

.link-img {
    width: 18px;
    height: 18px; 
    margin-top: auto;
    margin-bottom: auto; 
}